.community {
    background-color: #04081D;
    padding-top: 150px;
    padding-bottom: 140px;
    &__box {
        height: 413px;
        position: relative;
        z-index: 1;
        background: url(../../img/comm_box.png) center (center/cover) no-repeat;
    }
    &__title {
        color: #FFF;
        font-family: 'Clash Display';
        font-size: 48px;
        font-weight: 600;
        line-height: normal;
        padding-top: 80px;
        padding-left: 100px;
        padding-bottom: 35px;
    }
    &__links {
        padding-left: 100px;
    }
    &__images {
        position: absolute;
        transform: translate(650px, -120px);
        align-items: baseline;
        display: flex;
    }
    &__cube {
        position: absolute;
        transform: translate(-50px, -450px);
    }
}