.footer {
    background-color: #04081D;
    &__blocks {
        display: flex;
        position: relative;
        z-index: 10;
        justify-content: space-between;
    }
    &__block {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    }
    &__descr {
        width: 410px;
        color: #BDC4C9;
        font-family: 'Cerebri Sans Pro';
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        padding-top: 30px;
    }
    &__title {
        color: #FFF;
        font-family: 'Cerebri Sans Pro';
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 30px;
    }
    &__links {
        color: #BDC4C9;
        font-family: 'Cerebri Sans Pro';
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
        padding-bottom: 20px;
        width: 100%;
    }
    &__text {
        display: flex;
        justify-content: space-between;
    }
    &__copy, &__design {
        color: #DAE1E6;
        font-family: Cerebri Sans Pro;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
    }
    &__effect {
        position: absolute;
        transform: translate(240px, -720px);
    }
}